{% extends 'base.html' %}

{% block title %}Task Records{% endblock %}

{% block content %}
<!-- Add Task Record Section -->
<div class="container add-task-section">
    <form action="{% url 'task_record' %}" method="post">
        <div class="task-header">
            <div class="task-header-text">
                {% csrf_token %}
                {{ form }}
            </div>
            <button type="submit" class="task-header-icon"> &#x2795;</button>
        </div>
    </form>
</div>

<div>
    
</div>

<!-- Task Record Item -->
<div class="container task-record-container">
    {% for record in task_records %}
        {% include '_task_record_itembox.html' with task_icon="&#x2795" record=record %}
    {% endfor %}
</div>
{% endblock %}
